[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
websocket_client = "==0.56"
websockets = "*"
rx = "*"

[dev-packages]
pylint = "*"
flake8 = "*"
isort = "*"
mypy = "*"
pre-commit = "*"
pytest = "*"
pytest-cov = "*"

[requires]
python_version = "3.9"

[scripts]
test = "sh -c 'isort iqoptionapi && flake8 --exclude .venv && mypy --ignore-missing-imports'"
